---
import "../styles/global.css";
import ThemeToggle from "../components/theme_toggle.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shashank Daima | Software Developer</title>
    <link rel="icon" type="image/x-icon" href="./profile.jpeg" />
  </head>
  <body
    class="mx-auto container max-w-3xl bg-white dark:bg-gray-900  dark:text-white"
  >
    <header class="p-4 flex justify-between items-center">
      <img src="./profile.jpeg" class="w-[44px] h-[44px] rounded-xl" />
      <h1 class="flex-grow mx-4 text-3xl">
        शशांक दायमा <span class="text-sm hidden md:block"
          >(/translation Shashank Daima)</span
        >
      </h1>
      <h2 class="mt-2">RSS</h2>
      <ThemeToggle />
    </header>
    <main class="flex flex-col gap-y-8 p-4">
      <p class="text-lg">
        Namaste! My name is Shashank, 23 years old, a software developer from
        Faridabad, Haryana, India. Right now, living in Bangalore. This site
        will contain my history and present work history, opinionated blogs
        (things I don't say on Twitter with real names), etc. etc.
      </p>
      <div class="text-base">
        <h3 class="text-2xl">Education</h3>
        <ol class="list-decimal list-inside pl-2 mt-2 space-y-2">
          <li>
            Btech. in Computer Science From Indraprastha Institute of
            Information Technology, Delhi
          </li>
          <li>
            Middle/Highschooling from Aravali Internation School, Faridabad
          </li>
          <li>
            Junior Schooling from Kendriya Vidyalaya, Faridabad and RK. Puram
          </li>
        </ol>
      </div>
      <div class="text-base">
        <h3 class="text-2xl">Work Experience</h3>
        <ol class="list-decimal list-inside pl-2 mt-2 space-y-2">
          <li>
            Marketing Engineer at Metaforms (Workhack HQ) <span class="text-sm"
              >(for a week only)</span
            >
          </li>
          <li>Software Engineer at Chartr Transists</li>
          <li>Research Software Engineer(Freelance) at Rutgers University</li>
        </ol>
      </div>
      <div class="text-base">
        <h3 class="text-2xl">Project</h3>
        <ol class="list-decimal list-inside pl-2 mt-2 space-y-2">
          <li>
            <a href="https://www.thelegaltablet.com/" class="hover:underline">
              <span
                class="dark:bg-white bg-gray-900 dark:text-gray-900 text-white rounded text-sm font-semibold"
                style="padding:2px">WIP</span
              > Legal Tablet - a website that get updated legal advises</a
            >
          </li>
          <li>
            <a href="https://playlivechess.in/" class="hover:underline">
              Play Live Chess - scalable chess game similar to lichess</a
            >
          </li>
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.iprismtech.fooddelivery&pli=1"
              class="hover:underline"
            >
              FoodSafari's Flutter Apps - food delivery chain in north-east
              india</a
            >
          </li>

          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.rutgers.whatsviral"
              class="hover:underline"
            >
              WhatsViral's Android Apps - mobile app which find viral messages
              from Whatsapp</a
            >
          </li>
        </ol>
      </div>
      <div class="text-base">
        <h3 class="text-2xl">
          Blogs <span class="text-sm">(via hashnode)</span>
        </h3>
        <ol class="list-decimal list-inside pl-2 mt-2 space-y-2">
          <li>
            <a
              href="https://blogs.shashankdaima.com/hmm-a-quirky-mail-got-me-a-job-but-it-sucked"
              class="hover:underline"
              >Hmm, a quirky mail got me a job, but it sucked
              <span class="italic text-sm opacity-65">
                (My week-1 interaction with Metaforms (aka. Workhack))
              </span>
            </a>
          </li>
        </ol>
      </div>
      <div class="text-base">
        <h3 class="text-2xl">
          Contact me <span class="text-sm">(use my name everywhere)</span>
        </h3>
        <ul class=" mt-2 space-y-2">
          <li>
            Twitter: <a
              href="https://twitter.com/shashankdaima"
              target="_blank"
              rel="noopener noreferrer"
              class=" hover:text-blue-800 hover:underline"
              ><span class="outer-hover"
                >https://twitter.com/<span class="inner-hover"
                  >shashankdaima</span
                ></span
              ></a>
          </li>
          <li>
            Mail: <a
              href="mailto:mail@shashankdaima.com"
              target="_blank"
              rel="noopener noreferrer"
              class=" hover:text-blue-800 hover:underline"
              ><span class="outer-hover"
                >mail@<span class="inner-hover ">shashankdaima</span
                >.com</span
              ></a>
          </li>
          <li>
            Linkedin: <a
              href="https://www.linkedin.com/in/shashankdaima"
              target="_blank"
              rel="noopener noreferrer"
              class=" hover:text-blue-800 hover:underline"
              ><span class="outer-hover"
                >https://www.linkedin.com/in/<span
                  class="inner-hover ">shashankdaima</span
                ></span
              ></a>
          </li>
          <li>
            Github: <a
              href="https://github.com/shashankdaima"
              target="_blank"
              rel="noopener noreferrer"
              class=" hover:text-blue-800 hover:underline"
              ><span class="outer-hover"
                >https://github.com/<span class="inner-hover "
                  >shashankdaima</span
                ></span
              ></a>
          </li>
          <li>
            Bento(Superlink): <a
              href="https://bento.me/shashankdaima"
              target="_blank"
              rel="noopener noreferrer"
              class=" hover:text-blue-800 hover:underline"
              ><span class="outer-hover"
                >https://bento.me/<span class="inner-hover "
                  >shashankdaima</span
                ></span
              ></a>
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
